<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form id="fixtureForm">
                        <div class="form-group">
                            <select class="form-control" name="liga">
                                <option value="128">Liga Profesional Argentina</option>
                                <option value="1032">Copa de la Liga Profesional</option>
                                <option value="130">Copa Argentina</option>
                                <option value="13">Libertadores</option>
                                <option value="39">Premier League</option>
                                <option value="71">Serie A Brasil</option>
                                <option value="135">Serie A Italia</option>
                                <option value="140">La Liga</option>
                                <option value="2">Champions League</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="fecha" class="form-control" placeholder="Fecha(AÑO-MES-DIA)">
                        </div>
                        <div class="form-group">
                            <button class="botonFixture">
                                Ver fixture
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="wg-api-football-games"
     data-host="v3.football.api-sports.io"
     data-key="38e8ba34878d246542100c8d6bd93204"
     data-date="2023-11-22"
     data-league="130"
     data-season="2023"
     data-theme=""
     data-refresh="0"
     data-show-toolbar="true"
     data-show-errors="false"
     data-show-logos="true"
     data-modal-game="true"
     data-modal-standings="true"
     data-modal-show-logos="true">
</div>


 

<script
    type="module"
    src="https://widgets.api-sports.io/2.0.3/widgets.js">
</script>

<script src="/js/client-ia.js"></script>
