<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/index.css">

    <meta name="theme-color" content="#2091F9">

<body>

    <header class="hero">
        <nav class="nav container">

            <ul class="nav__link nav__link--menu">
                <img src="img/menu.svg" class="nav__close">
            </ul>

            <div class="nav__menu">
                <img src="img/menu.svg" class="nav__img">
            </div>
        </nav>

        <section class="hero__container container">
            <h1 class="hero__title">Bienvenido a Managbet</h1>
            <p class="hero__paragraph">La mejor plataforma de gestion de apuestas deportivas</p>
            <a href="/apuestas" class="cta">Comienza ahora</a>
        </section>
    </header>

    <main>
        <section class="container about">
            <h2 class="subtitle">¿Qué podrás hacer con Managbet?</h2>
            <p class="about__paragraph">Somos la plataforma de gestión de apuestas deportivas mas segura del mercado</p>

            <div class="about__main">
                <article class="about__icons">
                    <img src="img/computer.svg" class="about__icon">
                    <h3 class="about__title">Mis Apuestas</h3>
                    <p class="about__paragrah">En esta sección podrás visualizar todas tus apuestas realizadas, filtrandolas por fecha, estado o competición </p>
                </article>

                <article class="about__icons">
                    <img src="img/api.svg" class="about__icon">
                    <h3 class="about__title">IA Integrada</h3>
                    <p class="about__paragrah">Contamos con una IA integrada con la que podras acceder a las predicciones mas seguras en todos los eventos deportivos</p>
                </article>

                <article class="about__icons">
                    <img src="img/grafico.svg" class="about__icon">
                    <h3 class="about__title">Estadisticas</h3>
                    <p class="about__paragrah">Tenemos un apartado dedicado a todas las estadisticas de tus apuestas en tiempo real</p>
                </article>
            </div>
        </section>

        <section class="knowledge">
            <div class="knowledge__container container">
                <div class="knowledege__texts">
                    <h2 class="subtitle">Estadististicas de todo tipo ¡En tiempo real!</h2>
                    <p class="knowledge__paragraph">En base a las apuestas realizadas por parte del usuario se formarán distintas estadísticas, las cuales reflejarán la ganancia y/o pérdida de dinero en un lapso de tiempo determinado, la cantidad de apuestas realizadas, el porcentaje de apuestas acertadas y falladas, mejor y peor apuesta, registros mensuales u otros datos de interés.</p>
                    <a href="/estadisticas" class="cta">Mira tus Estadisticas</a>
                </div>

                <figure class="knowledge__picture">
                    <img src="img/caro2.jpg" class="knowledge__img">
                </figure>
            </div>
        </section>

        <section class="testimony">
            <div class="testimony__container container">
                <section class="testimony__body testimony__body--show" data-id="1">
                    <div class="testimony__texts">
                        <h2 class="subtitle">¿Porque es importante que una plataforma como Managbet exista?<span class="testimony__cours"></span></h2>
                        <p class="testimony__review">Managbet viene a poner fin a un problema que esta cada vez más en auge en nuestra sociedad: La pérdida de control en las apuestas deportivas, donde el apostador, al apostar en diversas bookies, pierde una estadística real y centralizada de todas las apuestas que efectúa y en consecuencia,
                se le dificulta el control y seguimiento de las mismas. Esto se suma a que las casas de apuestas suelen ser muy poco transparentes a la hora de brindar herramientas de control a sus usuarios, lo cual es lógico ya que un gran amplio porcentaje
                de ganancias llega a través de los usuarios que no llevan una gestión de sus cuentas y que apuestan de una manera desorganizada.
            </p></p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="img/hombre.avif" class="testimony__img">
                    </figure>
                </section>

            </div>
        </section>

        <section class="questions container">
            <h2 class="subtitle">Preguntas frecuentes</h2>

            <section class="questions__container">
                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿Qué podrás realizar con Managbet?
                        </h3>

                        <p class="questions__show">Sera posible visualizar y gestionar diferentes tipos de apuestas sobre fútbol, las cuales puedan recibir un seguimiento por parte del usuario, con estadísticas y datos de interés tales como el monitoreo de sus ganancias y pérdidas y recuentos mensuales. Así mismo podrás consultar la apuesta más segura en cada evento deportivo.</p>
                    </div>
                </article>

                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿Puedo apostar en Managbet?
                        </h3>

                        <p class="questions__show">Es importante recalcar que Managbet NO es un sitio de apuestas deportivas, siendo una plataforma donde el usuario podra gestionar y monitorear sus apuestas realizadas en OTROS sitios web.</p>
                    </div>
                </article>

                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿Con que otras funcionalidades cuenta Managbet?
                        </h3>

                        <p class="questions__show">Además de las ya mencionadas, estamos poniendo en marcha la implementación de funcionalidades sociales como la interacción y comunicación entre usuarios del sistema, pudiendo en un futuro hacer amigos y crear comunidades. También nos encontramos trabajando en un apartado dedicado a las apuestas mas destacadas y usuarios en tendencia.</p>
                    </div>
                </article>
            </section>

            
        </section>

        <section class="questions__offer">
                <h2 class="subtitle">¿Estas listo para empezar a utilizar Managbet?</h2>
                <p class="questions__copy">¡Facil, rápida y segura! ¿Que estas esperando para comenzar? Podes empezar ingresando tus apuestas haciendo click aquí abajo</p>
                <a href="/apuestas" class="ctaa">Comienza ahora</a>
        </section>
    </main>

    <footer class="footer">

        <section class="footer__copy container">
            <form class="footer__form" action="https://formspree.io/f/mknkkrkj" method="POST">
                <h2 class="footer__newsletter">Suscribete al newsletter</h2>
                <div class="footer__inputs">
                    <input type="email" placeholder="Email:" class="footer__input" name="_replyto">
                    <input type="submit" value="Registrate" class="footer__submit">
                </div>
            </form>

            <div class="footer__social">
                <a href="#" class="footer__icons"><img src="img/facebook.svg" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="img/twitter.svg" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="img/youtube.svg" class="footer__img"></a>
            </div>

            <h3 class="footer__copyright">Derechos reservados &copy; Managbet</h3>
        </section>
    </footer>

    <script src="./js/slider.js"></script>
    <script src="./js/questions.js"></script>
    <script src="./js/menu.js"></script>
</body>

</html>

