<header class="main-header">

   
   <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="overlay-image" style="background-image:url(img/caro1.jpg)"></div>
                <div class="carousel-caption">
                    <h1>Bienvenido a Managbet</h1>
                    <p>La mejor plataforma de gestion de apuestas deportivas</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="overlay-image" style="background-image:url(img/caro1.jpg)"></div>
                <div class="carousel-caption">
                    <h1>Bienvenido a Managbet</h1>
                    <p>Bienvenido a Managbet</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="overlay-image" style="background-image:url(img/caro1.jpg)"></div>
                <div class="carousel-caption">
                    <h1>Bienvenido a Managbet</h1>
                    <p>Bienvenido a Managbet</p>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </a>
    </div>


    <div class="container-flu bg-primary text-white" style="padding-top: 10px;">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1 ">¿Que podras realizar <span class="text-body-secondary ">con Managbet?</span></h2>
                <p class="lead ">Sera posible visualizar y gestionar diferentes tipos de apuestas sobre fútbol, las cuales puedan recibir un seguimiento por parte del usuario, con estadísticas y datos de interés tales como el monitoreo de sus ganancias y pérdidas, recuentos mensuales, entre otras funcionalidades sociales como la interacción y comunicación entre usuarios del sistema</p>
            </div>
            <div class="col-md-5 image-overlay">
                <img src="img/caro2.jpg " alt=" " class="img-fluid ">
            </div>
        </div>

        <hr class="featurette-divider ">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1 ">Estadisticas <span class="text-body-secondary ">A tiempo real</span></h2>
                <p class="lead ">En base a las apuestas realizadas por parte del usuario se formarán distintas estadísticas, las cuales reflejarán la ganancia y/o pérdida de dinero en un lapso de tiempo determinado, la cantidad de apuestas realizadas, el porcentaje de apuestas acertadas y falladas, mejor y peor apuesta, registros mensuales u otros datos de interés. 
                    </p>
            </div>
            <div class="col-md-5 order-md-1 image-overlay">
                <img src="img/caro3.jpg " alt=" " class="img-fluid ">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1 ">¿Puedo apostar<span class="text-body-secondary "> en Managbet?</span></h2>
                <p class="lead "> Es importante recalcar que Managbet NO es un sitio de apuestas deportivas, siendo una plataforma donde el usuario podra gestionar y monitorear sus apuestas realizadas en OTROS sitios web</p>
            </div>
            <div class="col-md-5 image-overlay">
                <img src="img/caro4.jpeg " alt=" " class="img-fluid ">
            </div>
        </div>

        <!--
        <div id="separador">
            <div class="content bg-white "></div>
        </div>
-->
        <hr class="featurette-divider ">
        <div class="row featurette text-center bg-primary text-white ">
            <h3 class="text-white ">¿Que nos impulsó a realizar este proyecto?</h3>
            <p>El principal problema el cual impulsó este proyecto es la pérdida de control en las apuestas deportivas, el apostador, al apostar en diversas bookies, pierde una estadística real y centralizada de todas las apuestas que efectúa y en consecuencia,
                se le dificulta el control y seguimiento de las mismas. Esto se suma a que las casas de apuestas suelen ser muy poco transparentes a la hora de brindar herramientas de control a sus usuarios, lo cual es lógico ya que un gran amplio porcentaje
                de ganancias llega a través de los usuarios que no llevan una gestión de sus cuentas y que apuestan de una manera desorganizada.
            </p>
        </div>

        <hr class="featurette-divider ">

    </div>


    <footer class="container text-center text-light">
        <p class="float-end "><a href="# ">Back to top</a></p>
        <p>&copy; 2023 Company, Inc. &middot; <a href="# ">Privacy</a> &middot; <a href="# ">Terms</a></p>
    </footer>
    
<header>

