<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/img/logo.png" alt="Logo" width="200">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex justify-content-center">
                        <li class="nav-item">
                            <a href="/apuestas" class="nav-link text-white">Mis apuestas</a>
                        </li>
                        <li class="nav-item">
                            <a href="/estadisticas" class="nav-link text-white">Mis estadisticas</a>
                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0 dropdown">
                    <a href="# " class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- <img src="https://github.com/mdo.png " alt="Usuario " width="32 " height="32 " class="rounded-circle "> -->
                        <strong class="text-white">Usuario</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li><a class="dropdown-item" href="# ">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="# ">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </nav>