<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/img/logo.png" alt="Logo" width="200">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex justify-content-center">
                        <li class="nav-item">
                            <a href="/apuestas" class="nav-link text-white">Mis apuestas</a>
                        </li>
                        <li class="nav-item">
                            <a href="/estadisticas" class="nav-link text-white">Mis estadisticas</a>
                        </li>
                    </ul>
                </div>
{{#if user}}

{{/if}}
                <div class="flex-shrink-0 dropdown">
                    <a href="# " class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <strong class="text-white">{{user.nickname}}</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li><a class="dropdown-item" href="# ">Mi perfil</a></li>
                        <li><a class="dropdown-item" href="# ">Cerrar sesion</a></li>
                    </ul>
                </div>
            </div>
        </nav>