<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img class="logotipo" src="/img/logo.png" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex justify-content-center">
                {{#if user}}
                        <li class="nav-item">
                            <a href="/apuestas" class="nav-link text-white">Mis apuestas</a>
                        </li>
                        <li class="nav-item">
                            <a href="/estadisticas" class="nav-link text-white">Mis estadisticas</a>
                        </li>   
                        <li class="nav-item">
                            <a href="/ia" class="nav-link text-white">Prediccion</a>
                        </li> 
                        <li class="nav-item dropdown">
                            <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                {{user.nickname}}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-primary">
                                <li><a class="dropdown-item" href="/profile">Mi perfil</a></li>
                                <li><a class="dropdown-item" href="/logout">Cerrar sesion</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                    
                </div>
                {{else}}
                    <li class="nav-item">
                            <a href="/signup" class="nav-link text-white">Registrarse</a>
                    </li> 
                    <li class="nav-item">
                            <a href="/signin" class="nav-link text-white">Iniciar sesion</a>
                    </li> 
                {{/if}}
            </div>
        </nav>