<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/apuestas/add" method="POST">
                        <div class="form-group">
                            <input type="number" step=".01" name="dinero" class="form-control" placeholder="Dinero apostado">
                        </div>
                        <div class="form-group">
                            <input type="number" step=".01" name="cuota" class="form-control" placeholder="Cuota">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="estado">
                                <option value="Pendiente">Pendiente</option>
                                <option value="Acertada">Acertada</option>
                                <option value="Fallada">Fallada</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="number" step=".01" name="stake" class="form-control" placeholder="Stake">
                        </div>
                        <div class="form-group">
                            <input type="text" name="pais" class="form-control" placeholder="Pais">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="competicion">
                                <option value="Liga Profesional Argentina">Liga Profesional Argentina</option>
                                <option value="Copa de la Liga Profesional">Copa de la Liga Profesional</option>
                                <option value="Copa Argentina">Copa Argentina</option>
                                <option value="Libertadores">Libertadores</option>
                                <option value="Serie A Brasil">Serie A Brasil</option>
                                <option value="Serie A Italia">Serie A Italia</option>
                                <option value="La Liga">La Liga</option>
                                <option value="Champions League">Champions League</option>
                            </select>   
                        </div>
                        <div class="form-group">
                            <input type="text" name="partido" class="form-control" placeholder="Partido">
                        </div>
                        <div class="form-group">
                            <input type="text" name="pronostico" class="form-control" placeholder="Pronostico">
                        </div>
                        <div class="form-group">
                            <button class="btn">
                                Crear Apuesta
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>